<!DOCTYPE html>

<head>
    <title>The Bible Bot</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <style>
        body {
            font-family: 'Libre Baskerville', serif;
        }
        h2 {
            margin-bottom: 60px;
        }
        p {
            margin-bottom: 48px;
        }
        .content {
            width: 480px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="content">
        <h1>The Bible Bot</h1>
        <h2>Terms of Service</h2>

        <p>
            The following document outlines the terms of use of The Bible Bot. Before using The Bible Bot, you are required to read, understand, and agree to these terms. By using The Bible Bot you agree to the terms and conditions outlined in this policy.
        </p>

        <p>
            The Bible Bot sends you bible verses based on your preferences directly to Facebook Messenger. We are not liable for bugs or malfunctions and may stop the service at any time. You may stop to use our service at any time as well. The Bible Bot service is provided for free. You have to be over 14 to use the service.
        </p>

        <p>
            We do not collect any of your personal data and thus cannot and will not not share it with anyone without your permission.
        </p>

        <p>
            These terms of user are effective as of October 15, 2016. New terms may be published on this page without any additional notice. Please visit this page regularly to see if the terms have changed.
        </p>
    </div>
</body>
